html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
  outline: 0 !important;
}

a {
	display: inline-block;
	text-decoration: none;
}

input {
	font-family: 'Quicksand', sans-serif;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	margin: 0;
	font-size: 14px;
	line-height: 28px;
	color: $text-color;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	position: relative;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.button {
	border-radius: 100px;
	font-size: 16px;
	padding: 12px 33px;
	font-weight: 400;
}

.title {
	color: #000;
	font-size: 30px;
}