@import "vars";
@import "global";

.header {
	font-family: 'Quicksand', sans-serif;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;

}

.header__top {
	background-color: $grey-l;
}

.header__reg-btn {
	border-radius: 18px;
	background-color: $blue;
	font-size: 14px;
	padding: 4px 15px;
	text-align: center;
	color: #fff;
	height: 36px;
	font-weight: 400;
}

.header__bottom-inner {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu-item {
	display: inline-block;
	& + li {
		margin-left: 20px;
	}
	font-weight: 500;
	text-transform: uppercase;

}

.header__menu-link {
	color: $text-color;
}

.header__search {
	position: relative;
	width: 31%;
}

.header__search-input {
	height: 46px;
	width: 100%;
	border: 1px solid #d9dfe5;
	padding: 0 25px;
	border-radius: 100px;
}

.header__search-btn {
	background-color: $blue;
	border: none;
	height: 46px;
	width: 70px;
	border-radius: 100px;
	position: absolute;
	right: 0;
}

.intro {
	background-image: url('../images/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
}

.intro__wrap {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 180px 0 130px;
}

.intro__title-create,
.intro__title-product {
	font-size: 60px;
	line-height: 70px;
}
.intro__title-product {
	font-weight: 500;
	margin-bottom: 10px;
}
.intro__text {
	font-size: 20px;
	line-height: 72px;
	margin-bottom: 35px;
}

.intro__buttons {
	margin-bottom: 105px;
}

.intro__buttons-popular,
.intro__buttons-all {
	border-radius: 100px;
	font-size: 16px;
	padding: 12px 33px;
	font-weight: 400;
}

.intro__buttons-all {
	border: none;
	background-color: #fff;
	color: $blue;
	margin-right: 30px;

}

.intro__buttons-popular {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
}

.search {
	position: absolute;
	top: 836px;
	right: 0;
	width: 100%;
}

.search__wrap {
	position: relative;
}

.search__background-1 {
	background-color: #fff;
	width: 97%;
	height: 50px;
	position: absolute;
	opacity: 0.5;
	top: -13px;
	right: 1.5%;
	border-radius: 7px;
}
.search__background-2 {
	background-color: #fff;
	width: 94%;
	height: 50px;
	position: absolute;
	opacity: 0.5;
	top: -26px;
	right: 3%;
	border-radius: 7px;
}
.search__box-form {
	display: flex;
	justify-content: space-between;
	height: 135px;
	position: relative;
	padding: 40px;
}

.search__box {
	background-color: #fff;
	border-radius: 7px;
}

.search__box-input {
	line-height: 42px;
	font-size: 16px;
	padding: 5px 29px;
	border: 1px solid $grey-l;
	width: 100%;
	margin-right: 30px;
}

.search__categories {
	position: absolute;
	font-size: 16px;
	right: 357px;
	top: 53px;
}

.search__categories::after {
	content: '';
	width: 13px;
	height: 8px;
	background-image: url('../images/icons/chevron-down.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	right: -60px;
	top: 12px;
}

.search__box-btn {
	border: none;
	border-radius: 4px;
	background-color: $blue;
	font-size: 16px;
	padding: 6px 68px;
	text-align: center;
	color: #fff;
	line-height: 42px;
}