@import "vars";
@import "global";

.header {
	font-family: 'Quicksand', sans-serif;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;

}

.header__top {
	background-color: $grey-l;
}

.header__reg-btn {
	border-radius: 18px;
	background-color: $blue;
	font-size: 14px;
	padding: 4px 15px;
	text-align: center;
	color: #fff;
	height: 36px;
	font-weight: 400;
}

.header__bottom-inner {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu-item {
	display: inline-block;
	& + li {
		margin-left: 20px;
	}
	font-weight: 500;
	text-transform: uppercase;

}

.header__menu-link {
	color: $text-color;
}

.header__search {
	position: relative;
	width: 31%;
}

.header__search-input {
	height: 46px;
	width: 100%;
	border: 1px solid #d9dfe5;
	padding: 0 25px;
	border-radius: 100px;
}

.header__search-btn {
	background-color: $blue;
	border: none;
	height: 46px;
	width: 70px;
	border-radius: 100px;
	position: absolute;
	right: 0;
}

.intro {
	background-image: url('../images/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
}

.intro__wrap {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 180px 0 130px;
}

.intro__title-create,
.intro__title-product {
	font-size: 60px;
	line-height: 70px;
}
.intro__title-product {
	font-weight: 500;
	margin-bottom: 10px;
}
.intro__text {
	font-size: 20px;
	line-height: 72px;
	margin-bottom: 35px;
}

.intro__buttons-all {
	border: none;
	border-radius: 100px;
	background-color: #fff;
	font-size: 16px;
	padding: 4px 15px;
	text-align: center;
	color: $blue;
	height: 55px;
	padding: 0 33px;
	margin-right: 30px;
}

.intro__buttons-popular {
	border: 1px solid #fff;
	border-radius: 100px;
	background-color: transparent;
	font-size: 16px;
	padding: 4px 15px;
	text-align: center;
	color: #fff;
	height: 55px;
	padding: 0 33px;
}