@import "vars";
@import "global";

.header {
	font-family: 'Quicksand', sans-serif;
	&__top {
		background-color: $grey-l;
	}
	&__top-inner {
		display: flex;
		justify-content: space-between;
		height: 100px;
		align-items: center;
	}
	&__reg-btn {
		border-radius: 18px;
		background-color: $blue;
		font-size: 14px;
		padding: 4px 15px;
		text-align: center;
		color: #fff;
		height: 36px;
		font-weight: 400;
	}
	&__bottom-inner {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__menu-item {
		display: inline-block;
		font-weight: 500;
		text-transform: uppercase;
		& + & {
			margin-left: 20px;
		}
	}
	&__menu-link {
		color: $text-color;
	}
	&__search {
		position: relative;
		width: 31%;
	}
	&__search-input {
		height: 46px;
		width: 100%;
		border: 1px solid #d9dfe5;
		padding: 0 25px;
		border-radius: 100px;
	}
	&__search-btn {
		background-color: $blue;
		border: none;
		height: 46px;
		width: 70px;
		border-radius: 100px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.intro {
	background-image: url('../images/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	&__wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 180px 0 130px;
	}
	&__title {
		font-size: 60px;
		line-height: 70px;
	}
	&__title-product {
		font-weight: 500;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 20px;
		line-height: 72px;
		margin-bottom: 35px;
	}
	&__button {
		margin-bottom: 105px;
	}
	&__button-all {
		border: none;
		background-color: #fff;
		color: $blue;
		margin-right: 30px;
	}
	&__button-popular {
		border: 1px solid #fff;
		background-color: transparent;
		color: #fff;
	}
}


.search {
	position: absolute;
	top: 836px;
	right: 0;
	width: 100%;
	&__wrap {
		position: relative;
	}
	&__background {
		background-color: #fff;
		position: absolute;
		opacity: 0.5;
		border-radius: 7px;
		height: 50px;
	}
	&__background-1 {
		width: 97%;
		top: -13px;
		right: 1.5%;
	}
	&__background-2 {
		width: 94%;
		top: -26px;
		right: 3%;
	}
	&__form {
		display: flex;
		justify-content: space-between;
		height: 135px;
		position: relative;
		padding: 40px;
	}
	&__box {
		background-color: #fff;
		border-radius: 7px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	}
	&__input {
		line-height: 42px;
		font-size: 16px;
		padding: 5px 29px;
		border: 1px solid $grey-l;
		width: 100%;
		margin-right: 30px;
	}
	&__categories {
		position: absolute;
		font-size: 16px;
		right: 336px;
		top: 41px;
		padding: 13px 0;
		border-left: 1px solid $grey-l;
		padding-left: 20px;
		&::after {
			content: '';
		width: 13px;
		height: 8px;
		background-image: url('../images/icons/chevron-down.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		right: -43px;
		top: 25px;
		}
	}
	&__btn {
		border: none;
		border-radius: 4px;
		background-color: $blue;
		font-size: 16px;
		padding: 6px 68px;
		text-align: center;
		color: #fff;
		line-height: 42px;
	}
}

.features {
	padding-top: 232px;
	padding-bottom: 165px;
	&__row {
		display: flex;
		justify-content: space-around;
	}
	&__item {
		text-align: center;
		width: 32%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 35px 45px;
		&--responsive {
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}
	}
	&__item-img {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-bottom: 30px;
		&--research {
			height: 112px;
			width: 113px;
		}
		&--responsive {
			height: 120px;
			width: 113px;
		}
		&--sell {
			height: 112px;
			width: 112px;
		}
	}
	&__item-title {
		font-size: 24px;
		color: #000;
		margin-bottom: 20px;
	}
	&__item-text {
		font-size: 16px;
	}
}

.featured {
	padding: 120px 0;
	background-color: $grey-l;
	&__top {
		padding: 30px;
		background-color: #fff;
		border-radius: 4px;
		font-weight: 400;
		margin-bottom: 50px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1)
	}
	&__slide {
		display: flex;
	}
	&__slide-img {
		width: 49%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&__slide-content {
		width: 51%;
		padding: 45px 50px 25px;
		background-color: #fff;
	}
	&__slide-title {
		font-weight: 500;
		font-size: 24px;
		color: #000;
		margin-bottom: 15px;
	}
	&__slide-subtitle {
		display: flex;
		margin-bottom: 25px;
	}
	&__slide-user {
		display: flex;
		font-size: 15px;
		color: #000;
		margin-right: 18px;
	}
	&__user-wrap {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 8px;
	}
	&__slide-cms {
		color: $purple;
		font-size: 15px;
		vertical-align: center;
	}
	&__cms-img {
		display: inline-block !important;
	}
	&__slide-text {
		font-size: 16px;
		margin-bottom: 35px;
	}
	&__slide-tags {
		display: flex;
		margin-bottom: 44px;
	}
	&__slide-tag {
		background-color: #f1f3f6;
		padding: 0 16px;
		border-radius: 100px;
		color: #868c96;
		& + & {
			margin-left: 7px;
		}
	}
	&__slide-bottom {
		padding-top: 23px;
		border-top: 1px solid #ececec;
		display: flex;
		align-items: center;
	}
	&__slide-price {
		font-weight: 500;
		font-size: 15px;
		background-color: $blue;
		padding: 7px 25px 7px 19px;
		border-radius: 100px;
		color: #fff;
		margin-right: 19px;
	}
	&__slide-likes {
		position: relative;
		padding-left: 20px;
		font-size: 15px;
		margin-right: 17px;
		&::before {
			content: '';
			background-image: url('../images/icons/like.png');
			width: 16px;
			height: 14px;
			display: inline-block;
			position: absolute;
			top: 6px;
			left: 0px;
		}
	}
	&__slide-purchases {
		position: relative;
		padding-left: 20px;
		font-size: 15px;
		&::before {
			content: '';
			background-image: url('../images/icons/purchases.png');
			width: 14px;
			height: 14px;
			display: inline-block;
			position: absolute;
			top: 6px;
			left: 0px;
		}
	}
}

.slick-next, .slick-prev {
	padding: 0;
	width: 55px;
	height: 45px;
	border: none;
	z-index: 1;
	top: -25%;
	position: absolute;
}

.slick-prev {
	background-color: $purple;
	right: 73px;;
	font-size: 0;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	&::after {
		content: '';
		background-image: url('../images/icons/chevron-left.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 8px;
		height: 14px;
		position: absolute;
		right: 24px;
		top: 17px;
		z-index: 2;
	}
}

.slick-next {
	background-color: $purple;
	right: 18px;
	font-size: 0;
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	&::after {
		content: '';
		background-image: url('../images/icons/chevron-right.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 8px;
		height: 14px;
		position: absolute;
		right: 24px;
		top: 17px;
		z-index: 2;
		display: block;
	}
}

.release {
	padding: 120px 0;
	background-color: #f6f7fb;
	&__top {
		padding: 35px 30px;
		background-color: #fff;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__filter {
		font-size: 16px;
		color: #747b86;
		display: flex;
		align-items: center;
	}
	&__filter-word {
		margin-right: 20px;
	}
	&__filter-menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 5px;
		height: 20px;
	}
	&__filter-item {
		width: 4px;
		height: 4px;
		background-color: #a3b1c4;
		border-radius: 50%;
	}
	&__user-wrap {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 8px;
	}
	&__inner {
		margin-bottom: 30px;
	}
	&__inner-btn {
		margin-bottom: 50px;
		padding: 30px;
		background-color: #fff;
		box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
	}
	&__filter-btn {
		background-color: #f1f3f6;
		padding: 5px 20px;
		border: none;
		border-radius: 100px;
		cursor: pointer; 
	}
	&__inner-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__bottom-btn {
		display: block;
		margin: 0 auto;
		background-color: $blue;
		border-radius: 100px;
		padding: 15px 33px;
		color: #fff;
		font-size: 16px;
		border: none;
	}
}


.product-item {
	width: 32%;
	&__img {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__content {
		padding: 20px 30px 0;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	}
	&__title {
		font-weight: 500;
		font-size: 20px;
		color: #000;
		margin-bottom: 15px;
	}
	&__subtitle {
		display: flex;
		margin-bottom: 25px;
	}
	&__user {
		display: flex;
		font-size: 15px;
		color: #000;
		margin-right: 18px;
	}
	&__user-wrap {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 8px;
	}
	&__cms {
		font-size: 15px;
		color: $purple;
	}
	&__text {
		font-size: 16px;
		color: #555555;
		margin-bottom: 30px;
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #ececec;
		padding: 15px 0;
	}
	&__wrap {
		display: flex;
		align-items: center;
	}
	&__price {
		font-weight: 500;
		font-size: 15px;
		background-color: #e6f1fd;
		padding: 5px 17px;
		border-radius: 100px;
		color: $blue;
		margin-right: 19px;
	}
	&__likes {
		margin-right: 17px;
		color: #6f7d8d;
		&::before {
			background-image: url('../images/icons/like.png');
			width: 16px;
		}
	}
	&__likes,
	&__purchases {
		position: relative;
		padding-left: 20px;
		font-size: 15px;
		&::before {
			content: '';
			height: 14px;
			display: inline-block;
			position: absolute;
			top: 6px;
			left: 0px;
		}
	}
	&__purchases {
		margin-right: 0;
		&::before {
			background-image: url('../images/icons/purchases.png');
			width: 14px;
		}
	}
}
